# Build Maven
target/

# MacOS
.DS_Store

# File compilati e di log
*.class
*.log

# File BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Crash JVM
hs_err_pid*
replay_pid*